body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 ;
    border: none;
    margin-bottom: 10px;
    margin-left: 8px;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 8px;  
}
h2,h3,h4{
    text-align: center;
}
#content{
    display: block;
    text-align: center; 
}
#content ol{
    text-align: left;
    margin-right: 15px;
    
}
#content li{
    display: inline-block;
    margin-left: 8px;
    
}
#content a{ 
    text-transform: uppercase;
    font-size: 15px;
    padding: 6px;
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: black 0.3s;
    
}
#content a:hover{
    border-color: black;
    color: black;
}
.bannerimg{
    display: block;
    height: 350px;
    width: 100%;
}
.design-fp{
    margin-left: 50px;
}
.fp{
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}
.fp-img{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
}
#contact p{
   text-align: center;
}
button{
    touch-action: initial;
    cursor: pointer;
    text-align: center;
}


h2 h4  {
    text-align: center;
    margin-left: 8px;
}
.branch{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 15px;
    text-align: center;
   
}
.guide h3{
    text-align: left;
}
.guide{
    display:block;
    margin-left: 18px;
}
.guideimg{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.message{
    text-align: center;
}
#content{
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: flex-start;
    flex :1;
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
    text-align: center;
  
    position: absolute;
    left: 45%;
}
.navlinks{
    flex-wrap: wrap;
    flex :1;
}

#shop{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    gap: 15px;
    margin-left: 50px;
    
 
}
.guitar-img{
    width:250px ;
    height: 250px;
    display: block;
}
.guitar-img1{
    width:250px ;
    height: 250px;
    
}

.shipguitarimg{
   width: 400px;
   height: 400px;
   margin-left: 150px;
   display: inline-block;

}

